* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

#primeiro {
    border: 1px solid #333;
    margin: 30px;
}

.segundo { 
    border: 5px solid #444;
    padding: 15px;
}

.navigation nav span{
    color: indigo;
    cursor: pointer;
    transition: 300ms;
}

.navigation nav span:hover{
    text-decoration: underline;
    color: black;
    background-color: lightcoral;    
}

#primeiro, .segundo {
    border: 1 px
}

.segundo > p{
    color: green;
}